body {
    padding:10px;
    margin:10px;
}
h2 {
    text-align: center;
}

.c1 {
    background-color: rgba(130, 228, 104,.2);
    padding:10px;
    margin:10px;
    /* display: flex; */
    /* float:left; */
}

#good_input {
    background-color: rgba(0,0,0,0);

}

.c2 {
    background-color: rgba(255, 75, 75,.2);
    padding:10px;
    margin:10px;
    /* display:flex; */
    /* flex-wrap:wrap; */
    /* align-content: space-between; */
    /* float:right; */
}

#bad_input {
    background-color: rgba(0,0,0,0);
}

.flexbox-container {
    display:flex;
    align-content: space-around;
    flex-wrap: wrap;
}

/* Turn the <li> into checkmark labels */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #888888;
  /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* When you check an element of the list, strike through it */
input:checked + li {
    color:#888888;
    font-style: italic;
    text-decoration: line-through;
}

/* For Good Stuff, highlight in green when it's struck */
input:checked + .gooditem {
    background-color: rgba(130, 228, 104,.8);
}

input:checked + .baditem {
    background-color: rgba(255, 75, 75,.8);
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 10pt;
    padding:none;
    margin:none;
    width:5px;
    color:#888888;
}
